body{
    background-color: chartreuse;
    color: navy;
}

#img-brasil{
    
    width: 200px;
}










#imagem-brasil{
    width: 50px;
}

.item{
    font-size: 20px;
}

p{
    font-size: 18px;
}